# AWS credentials / keys
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars

# Java
target/
*.class

# Jenkins
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
